* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: hsl(171, 66%, 44%);
}

body {
    font-size: 1.125rem;
    font-family: 'Public Sans', sans-serif;
}

.flex {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 18px;
}
h4 {
    font-size: 1.25rem;
    font-weight: 400;
}
p {
    color: hsl(233, 8%, 62%);
    line-height: 1.6;
}

figcaption {
    font-size: 0.625rem;
    color: hsl(233, 8%, 62%);
}

/* Header */

header {
    background-color: hsl(0, 0%, 100%);
    padding: 20px 120px;
    max-width: 1440px;
    max-height: 74px;
    margin: 0 auto;
}

.header {
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.menu-nav li {
    display: inline-block;
    margin: 6px;
}

.menu-nav a {
    color: hsl(233, 8%, 62%);
}

.menu-nav a:hover {
    cursor: pointer;
    color: hsl(233, 26%, 24%);
}

.menu-nav a:hover::after {
    content: '';
    display: block;
    position: relative;
    top: 24px;
    height: 4px;
    width: 100%px;
    background:linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.btn-invite {
    padding: 9px 23px;
    border-radius: 30px;
    color: white;
    border: none;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    font-size: 0.875rem;
}

.btn-invite:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

/* Seccao intro */

.intro {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.intro-text {
    max-width: 400px;
    margin: 50px 120px;
}

.intro-text p {
    margin-bottom: 20px;
}

.intro-imagem{
    max-width: 700px;
    max-height: 500px;
    background-image: url(../imagens/bg-intro-desktop.svg);
    background-position: 10% 70%;
    background-size: 200%;
    align-self: flex-end;
}

.intro-imagem-wrapper {
    position: relative;
    overflow: hidden;
}

.intro img {
    max-width: 600px;
    position: relative;
    bottom: 90px;
    left: 110px;
}

/* Seccao advantages */

.advantages {
    background-color:hsl(220, 16%, 96%);
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 120px;
}

.advantages p {
    font-size: 1rem;
}

.advantages img {
    margin-bottom: 30px;
}

.advantages li{
    display: inline-block;
    max-width: 263px;
    margin: 10px;
}

.advantages > p {
    max-width: 550px;
    margin-bottom: 40px;
}

@media(max-width:480px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    .intro-imagem {
        display: none;
    }
}

/* Seccao advantages responsividade mobile */
@media(max-width:480px) {
    .advantages {
        padding: 40px 20px;
        text-align: center;
    }
    .advantages li {
        max-width: 357px;
        margin: 15px 0 15px 0;
    }

    .advantages h2 {
        max-width: 320px;
        margin: 0 auto 20px auto;
    }

    .advantages > p {
        max-width: 357px;
        margin: 0 auto 30px auto;
    }

    .advantages img {
        margin: 0 auto 20px auto;
    }
}

/* Seccao articles */

.articles {
    background-color: hsl(0, 0%, 98%);
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 120px;
}

.articles li {
    height: 400px;
    max-width: 275px;
    display: inline-block;
    margin: 15px;
    margin-left: 0;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.articles p {
    font-size: 0.875rem;
}

.info-article{
    padding: 10px 25px 25px 25px;
}

.articles img {
    height: 200px;
    margin-bottom: 15px;
    max-width: 110%;
    overflow: hidden;
}

.articles figcaption {
    margin-left: 20px;
}

/* Footer */

footer {
    max-width: 1440px;
    margin: 0 auto;
    background-color: hsl(233, 26%, 24%);
    padding: 30px 120px;
}

.footer-logosocial {
    flex-grow: 1;
}

.footer-links {
    flex-grow: 1;
}

.footer-btn-copyright {
    flex-grow: 3;
    text-align: right;
}
.footer-logosocial figure {
    margin-bottom: 30px;
}

.facebook-icon {
    content: url(../imagens/icon-facebook.svg);
}

.youtube-icon {
    content: url(../imagens/icon-youtube.svg);
}

.twitter-icon {
    content: url(../imagens/icon-twitter.svg);
}

.pinterest-icon {
    content: url(../imagens/icon-pinterest.svg);
}

.instagram-icon {
    content: url(../imagens/icon-instagram.svg);
}


.facebook-icon:hover {
    content: url(../imagens/icon-facebook-blue.svg);
}

.youtube-icon:hover {
    content: url(../imagens/icon-youtube-blue.svg);
}

.twitter-icon:hover {
    content: url(../imagens/icon-twitter-blue.svg);
}

.pinterest-icon:hover {
    content: url(../imagens/icon-pinterest-blue.svg);
}

.instagram-icon:hover {
    content: url(../imagens/icon-instagram-blue.svg);
}

.footer-logosocial li{
    display: inline-block;
    margin-right: 6px;
}

.footer-links {
    margin: 0 20px;
    max-width: 320px;
}

.footer-links a {
    color: white;
    font-weight: 300;
}

.footer-links a:hover {
    cursor: pointer;
    color: hsl(171, 66%, 44%);
}

.footer-links li {
    margin: 0 10px 10px 0;
}

.basis-150 {
	flex-basis: 150px;
}

.basis-300 {
	flex-basis: 300px;
}

.footer-btn-copyright button{
    margin-bottom: 20px;
}

.footer-btn-copyright p {
    font-size: 1rem;
}