* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: hsl(171, 66%, 44%);
}

body {
    font-size: 1.125rem;
    font-family: 'Public Sans', sans-serif;
}

.flex {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.375rem;
    font-weight: 400;
    margin-bottom: 15px;
}
h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 18px;
}
h4 {
    font-size: 1.25rem;
    font-weight: 300;
}
p {
    color: hsl(233, 8%, 62%);
    line-height: 1.6;
}
/* Header */

header {
    background-color: hsl(0, 0%, 100%);
    padding: 20px 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.header-logo {
}

.menu-nav li {
    display: inline-block;
    margin: 5px;
}

.menu-nav a {
    color: hsl(233, 8%, 62%);
}

.btn-invite {
    padding: 9px 23px;
    border-radius: 30px;
    color: white;
    border: none;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    font-size: 0.875rem;
}

/* Seccao intro */

.intro {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.intro div:first-of-type {
    max-width: 400px;
    margin: 50px 100px;
}

.intro div:first-of-type p {
    margin-bottom: 20px;
}

.intro-imagem{
    max-width: 500px;
    max-height: 500px;
    background-image: url(../imagens/bg-intro-desktop.svg);
    background-position: 20% 70%;
    background-size: cover;
    background-size: 200%;
    align-self: flex-end;
    clip-path: inset(0 0 -100px 0);
}

.intro-imagem::before {
    content: "";
    position: relative;
}

.intro img {
    max-width: 550px;
    position: relative;
    left: 45px;
    bottom: 90px; 
}

/* Seccao advantages */

.advantages {
    background-color:hsl(220, 16%, 96%);
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 100px;
}

.advantages p {
    font-size: 1rem;
}

.advantages img {
    margin-bottom: 30px;
}

.advantages li{
    display: inline-block;
    max-width: 263px;
    margin: 10px;
}

.advantages p:first-of-type {
    max-width: 650px;
    margin-bottom: 40px;
}

/* Seccao articles */

.articles {
    background-color: hsl(0, 0%, 98%);
    max-width: 1440px;
    margin: 0 auto;
}

.articles li {
    max-width: 300px;
    display: inline-block;
}

/* Footer */

footer {
    max-width: 1440px;
    margin: 0 auto;
    background-color: hsl(233, 26%, 24%);
}